/*
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }
  */
  
.theme-table {
    width: 100%;
}
  
.theme-table caption {
    caption-side: top;
}
  
.theme-table th {
    background-color: WhiteSmoke;    
}

.language-hdr-row {
    text-align: center;
}

.phrase-hdr-row {
    text-align: center;
}

.data-hdr-row {
    font-style: italic
}

.number-column {
    background-color: Gainsboro;    
}

.base-word-column {
    background-color: Gainsboro;    
}

.image-column {
    background-color: Silver;
}

.image-hdr-cell {
    text-align: center;
}

.image-cell {
    text-align: center;
}

.image-cell a {
    color:red;
}

.space-before-language-column {
    background-color: Gainsboro ;
}

.space-before-language-cell {
    color: Gainsboro ;
}

.space-before-phrase-column {
    background-color: Gainsboro ;
}

.space-before-phrase-cell {
    color: Gainsboro ;
}

.pronunciation-column {
    background-color: DarkGray ;
}

.pronunciation-hdr-cell {
    text-align: center;
}

.pronunciation-cell {
    text-align: center;
}

.pronunciation-cell a {
    color:red;
}

.spelling-column {
    background-color: black;
}

.spelling-cell {
    color:white;
}

.blank-spelling-cell {
    color:black;
}
