/*
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
  }
  */
  
.theme-table {
    width: 100%;
    background-color: yellow;    
}
  
.theme-table caption {
    caption-side: top;
}
