{% if type.plain.flavors %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container03">
            <table style="width:100%">
                {% for flavor in type.plain.flavors %}
                    <tr>
                        <th>{{ flavor.short_name.translated.words }}</th>
                        <th>{{ flavor.long_name.translated.words }}</th>

                        <td>{% include "orders/menu-flavor-plain.html" %}</td>
                    </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
 {% endif %}

{% if type.plain.addings %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container03">
            <table style="width:100%">
                {% for adding in type.plain.addings %}
                    <tr>
                        <th>{{ adding.short_name.translated.words }}</th>
                        <th>{{ adding.long_name.translated.words }}</th>

                        <td>{% include "orders/menu-adding-plain.html" %}</td>
                    </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
{% endif %}

{% if type.plain.sizes %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container03">
            <table style="width:100%">
                {% for size in type.plain.sizes %}
                    <tr>
                        <th>{{ size.short_name.translated.words }}</th>
                        <th>{{ size.long_name.translated.words }}</th>

                        <td>{% include "orders/menu-size-plain.html" %}</td>
                    </tr>
                {% endfor %}
            </table>
        </li>
    </ul>
{% endif %}
