{% if flavor.table %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container03">
            <table style="width:100%">
                <tr>
                    <th></th>
                    <th></th>

                    {% for header in flavor.table.headers.addings %}
                        {% include "orders/menu-table-header.html" %}
                    {% endfor %}

                    {% for header in flavor.table.headers.sizes %}
                        {% include "orders/menu-table-header.html" %}
                    {% endfor %}
                </tr>

                {% for adding in flavor.table.lines.addings %}
                    {% include "orders/menu-table-line-adding.html" %}
                {% endfor %}

                {% for size in flavor.table.lines.sizes %}
                    {% include "orders/menu-table-line-size.html" %}
                {% endfor %}
            </table>
        </li>
    </ul>
{% endif %}

