{% extends "orders/base.html" %}


{% block title %}
    Menu
{% endblock %}

{% block main %}
    <h1>Menu</h1>
    <ul class="list-group pt-4">
        {% for dish in dishes %}
        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
                <h2>{{ dish.self.name }}</h2>
                    <ul class="list-group pt-4">
                        {% for type in dish.types %}
                        <ul class="list-group pt-4">
                            <li class="list-group-item ln-container02">
                                <h3>{{ type.self.name }}</h3>
                                <table style="width:100%">
                                    <tr>
                                        <th></th>
                                        {% for size in type.sizes %}
                                            <th>{{ size.name }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% for flavor in type.flavors %}
                                        <tr>
                                            {% if type.self is None %}
                                                <td><a href="{% url 'flavor' dish.self.id None flavor.self.id %}">{{ flavor.self.name }}</a></td>
                                            {% else %}
                                                <td><a href="{% url 'flavor' dish.self.id type.self.id flavor.self.id %}">{{ flavor.self.flavor.name }}</a></td>
                                            {% endif %}
                                            {% for size_and_price in flavor.sizes_and_prices %}
                                                <td>{{ size_and_price.price }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                        </ul>
                        {% endfor %}
                    </ul>

                    <ul class="list-group pt-4">
                        {% for adding in dish.addings %}
                        <ul class="list-group pt-4">
                            <li class="list-group-item ln-container02">
                                <h3>{{ adding.self.name }}</h3>
                                <table style="width:100%">
                                    <tr>
                                        <th></th>
                                        {% for size in adding.sizes %}
                                        <th>{{ size.name }}</th>
                                    {% endfor %}
                                </tr>
                                {% for flavor in adding.flavors %}
                                    <tr>
                                        <td>{{ flavor.self.name }}</td>
                                        {% for size_and_price in flavor.sizes_and_prices %}
                                            <td>{{ size_and_price.price }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </li>
                    </ul>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% empty %}
            <h2>No dishes</h2>
        {% endfor %}
    </ul>
{% endblock %}
