{% extends "first625words/base.html" %}


{% block scripts %}
    <script src="/static/first625words/scripts/select-target-languages.js"></script>
{% endblock %}

{% block title %}
    Select Target Languages
{% endblock %}

{% block main %}
    <form action="{% url 'put_target_languages' %}" method="post" data-selected-target-languages-count-max={{ selected_target_languages_count_max }} data-language-to-sort-number-separator="{{ language_to_sort_number_separator }}">
        {% csrf_token %}

        <fieldset>      
            <legend>Select up to {{ selected_target_languages_count_max }} target languages:</legend>

            <table class="select-target-languages-table">
                {% for language in target_languages %}
                    {% if forloop.counter0|divisibleby:target_languages_selection_columns_count %}
                        {% if not forloop.first %}
                            </tr>
                        {% endif %}

                        <tr>
                    {% endif %}

                    <td>
                        <input class="select-target-language" type="checkbox" id="target-language{{ language.id }}" name={{ language.id }} value={{ language.id }}>
                        <label for="target-language{{ language.id }}">{{ language.name }}</label>
                    </td>
                {% endfor %}
            </table>

            <br>      
            <input type="submit" value="Submit" />      

        </fieldset>
    </form>

    <br>

    {% if selected_target_languages and selected_target_languages.0 %}
        <h5 id="selected-target-languages-label">Selected Target Languages</h5>
    {% else %}
         <h5 id="selected-target-languages-label" style="visibility:hidden">Selected Target Languages</h5>
    {% endif %}

    <ol>
        {% for selected_target_language in selected_target_languages %}
            {% if selected_target_language %}
                <li id="selected-target-language{{ forloop.counter0 }}">
                    {{ selected_target_language }}
            {% else %}
                <li id="selected-target-language{{ forloop.counter0 }}" style="visibility:hidden";>
            {% endif %}

            </li>
        {% endfor %}
    </ol>


{% endblock %}
