{% extends "first625words/base.html" %}


{% block title %}
    First625Words
{% endblock %}

{% block main %}
    {% for theme_data in data.for_themes %}
        <table class="theme-table">
            <caption>
                {{ theme_data.theme.name }}
            </caption>

            <col class="number-column">
            <col class="base-word-column">

            {% for image_counting in theme_data.counting.images %}
                <col class="image-column">
            {% endfor %}

            {% for language_counting in theme_data.counting.for_languages %}
                <col class="space-before-language-column">

                {% for phrase_counting in language_counting.for_phrases %}
                    <colgroup>
                        <col class="space-before-phrase-column">

                        {% for pronunciation in phrase_counting.pronunciations %}
                            <col class="pronunciation-column">
                        {% endfor %}

                        <col class="spelling-column">
                    </colgroup>
                {% endfor %}
            {% endfor %}
        
            <thead>
                <tr class="language-hdr-row">
                    <th scope="col"></th>
                    <th scope="col"></th>

                    {% for image_counting in theme_data.counting.images %}
                        <th scope="col"></th>
                    {% endfor %}

                    {% for language_counting in theme_data.counting.for_languages %}
                        {% with language_columns_count='1' %}
                        {% with phrases_count=language_counting.for_phrases|length %}
                        {% with language_columns_count=language_columns_count|add:phrases_count %}
                        {% with language_columns_count=language_columns_count|add:language_counting.pronunciations_count %}
                        {% with language_columns_count=language_columns_count|add:phrases_count %}

                        {% for language in data.languages %}
                            {% if forloop.parentloop.counter0 == forloop.counter0 %}

                                <th colspan={{ language_columns_count }} scope="colgroup">{{ language.name }}</th>

                            {% endif %}
                        {% endfor %}

                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}
                </tr>

                <tr class="phrase-hdr-row">
                    <th scope="col"></th>
                    <th scope="col"></th>

                    {% for image_counting in theme_data.counting.images %}
                        <th scope="col"></th>
                    {% endfor %}
                    
                    {% for language_counting in theme_data.counting.for_languages %}
                        <th scope="col"></th>
                    
                        {% for phrase_counting in language_counting.for_phrases %}
                            {% with phrase_columns_count=phrase_counting.pronunciations|length %}
                            {% with phrase_columns_count=phrase_columns_count|add:'2' %}

                            {% if language_counting.for_phrases|length > 1 %}
                                <th colspan={{ phrase_columns_count }} scope="colgroup">Word{{ forloop.counter }}</th>
                            {% else %}
                                <th colspan={{ phrase_columns_count }} scope="colgroup">Word</th>
                            {% endif %}

                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% endfor %}
                </tr>

                <tr class="data-hdr-row">
                    <th scope="col">#</th>
                    <th scope="col">Base Word</th>

                    {% for image_counting in theme_data.counting.images %}
                        <th class="image-hdr-cell" scope="col">🖼</th>
                    {% endfor %}

                    {% for language_counting in theme_data.counting.for_languages %}
                        <th scope="col"></th>

                        {% for phrase_counting in language_counting.for_phrases %}
                            <th scope="col"></th>

                            {% for pronunciation_counting in phrase_counting.pronunciations %}
                                <th  class="pronunciation-hdr-cell" scope="col">🔊</th>
                            {% endfor %}

                            <th scope="col">Spelling</th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for base_word_data in theme_data.for_base_words %}
                    {% for row in base_word_data.rows %}
                        <tr>
                            {% if forloop.first %}
                                <td>{{ forloop.parentloop.counter }}</td>
                                <td>{{ base_word_data.base_word.text }}</td>
                            {% else %}
                                <td></td>
                                <td></td>
                            {% endif %}

                            {% for image in row.images %}
                                <td class="image-cell">
                                    <a href={{ image.link }}>&#10004;</a>
                                </td>
                            {% endfor %}

                            {% for image_counting in theme_data.counting.images %}
                                {% if forloop.counter0 >= row.images|length %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}

                            {% for language_phrases in row.languages_phrases %}
                                <td class="space-before-language-cell">&#10004;</td>

                                {% with language_index=forloop.counter0 %}

                                {% for phrase in language_phrases %}
                                    {% with phrase_index=forloop.counter0 %}

                                    <td class="space-before-phrase-cell">&#10004;</td>

                                    {% for pronunciation in phrase.pronunciations.all %}
                                        <td class="pronunciation-cell">
                                            <a href={{ pronunciation.sound }}>&#10004;</a>
                                        </td>
                                    {% endfor %}

                                    {% for language_counting in theme_data.counting.for_languages %}
                                        {% if forloop.counter0 == language_index %}
                                            {% for phrase_counting in language_counting.for_phrases %}
                                                {% if forloop.counter0 == phrase_index %}
                                                    {% for pronunciation in phrase_counting.pronunciations %}
                                                        {% if forloop.counter0 >= phrase.pronunciations.count %}
                                                            <td></td>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                    <td class="spelling-cell">
                                        {% if phrase.definitions.count > 0 or phrase.examples.count > 0 %}
                                            <a href="{% url 'phrase' phrase.id %}">{{ phrase.spelling.text }}</a>
                                        {% else %}
                                            {{ phrase.spelling.text }}
                                        {% endif %}
                                    </td>

                                    {% endwith %}
                                {% endfor %}

                                {% for language_counting in theme_data.counting.for_languages %}
                                    {% if forloop.counter0 == language_index %}
                                        {% for phrase_counting in language_counting.for_phrases %}
                                            {% if forloop.counter0 >= language_phrases|length %}
                                                <td></td>

                                                {% for pronunciation in phrase_counting.pronunciations %}
                                                    <td></td>
                                                {% endfor %}

                                                <td></td>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                                {% endwith %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>

                        {% for image_counting in theme_data.counting.images %}
                            <td></td>
                        {% endfor %}

                        {% for language_counting in theme_data.counting.for_languages %}
                            <td></td>

                            {% for phrase_counting in language_counting.for_phrases %}
                                <td></td>

                                {% for pronunciation in phrase_counting.pronunciations %}
                                    <td></td>
                                {% endfor %}

                                <td class="blank-spelling-cell">a</td>
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}
