{% extends "orders/ln/ln-base.html" %}


{% load static %}


{% block product_head %}
    <!-- https://favicon.io/emoji-favicons/books/ -->
    <link href="{% static 'orders/images/favicon.ico' %}" rel="icon">

    <link href="{% static 'orders/styles/style.css' %}" rel="stylesheet">

    {% if user.is_authenticated %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

        <script src="/static/scripts/layout.js"></script>

        {% block scripts %}
        {% endblock %}
    {% endif %}

    <title>
        {{ settings.product_title.translated.words }}: {% block title %}{% endblock %}
    </title>
{% endblock %}


{% block product_navbar %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'menu' %}">Menu</a>
            </li>

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'cart' %}">Cart</a>
            </li>
        </ul>

        <div class="dropstart me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user_settings.language.name.words }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for language in languages %}
                    <li><a class="dropdown-item" href="{% url 'select_language' language.id %}">{{ language.name.words }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="dropstart me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                {{ user_settings.currency.name.translated.words }}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                {% for currency in currencies %}
                    <li><a class="dropdown-item" href="{% url 'select_currency' currency.id %}">{{ currency.name.translated.words }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="dropstart me-2">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                    <li><a class="dropdown-item" href="{% url 'unregister' %}">Unregister</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                </ul>
            </div>

            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">LogOut</a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'register' %}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Log In</a>
                </li>
            </ul>
        {% endif %}
    </div>
{% endblock %}


{% block product_name %}
    {{ settings.product_name.translated.words }}
{% endblock %}


{% block product_main %}
    <main class="container p-4 my-4 ln-container00">
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}


{% block product_tail %}
    {% block tail %}
    {% endblock %}
{% endblock %}

