{% extends "orders/ln/ln-base.html" %}


{% load static %}


{% block product_head %}
    <!-- https://favicon.io/emoji-favicons/books/ -->
    <link href="{% static 'orders/images/favicon.ico' %}" rel="icon">

    <link href="{% static 'orders/styles/style.css' %}" rel="stylesheet">

    {% if user.is_authenticated %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>

        <script src="/static/scripts/layout.js"></script>

        {% block scripts %}
        {% endblock %}
    {% endif %}

    <title>
        Pizza: {% block title %}{% endblock %}
    </title>
{% endblock %}


{% block product_navbar %}
    <div class="collapse navbar-collapse" id="navbar">
        {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">LogOut</a></li>

                <!-- Default dropleft button -->
                <div class="btn-group dropstart">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'unregister' %}">Unregister</a>

                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                    </div>
                </div>
            </ul>
        {% else %}
            <ul class="navbar-nav ml-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
            </ul>
        {% endif %}
    </div>
{% endblock %}


{% block product_name %}
    Pizza
{% endblock %}


{% block product_main %}
    <main class="container p-4 my-4 ln-container00">
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}


{% block product_tail %}
    {% block tail %}
    {% endblock %}
{% endblock %}

