{% if order_dish %}
    {% if order_type %}
        {% if order_flavor %}
            {% if order_size %}
                <a href="{% url 'order' order_dish.menu.id order_type.menu.id order_flavor.menu.id order_size.menu.id %}">
            {% else %}
                <a href="{% url 'order' order_dish.menu.id order_type.menu.id order_flavor.menu.id None %}">
            {% endif %}
        {% else %}
            {% if order_size %}
                <a href="{% url 'order' order_dish.menu.id order_type.menu.id None order_size.menu.id %}">
            {% else %}
                <a href="{% url 'order' order_dish.menu.id order_type.menu.id None None %}">
            {% endif %}
        {% endif %}
    {% else %}
        {% if order_flavor %}
            {% if order_size %}
                <a href="{% url 'order' order_dish.menu.id None order_flavor.menu.id order_size.menu.id %}">
            {% else %}
                <a href="{% url 'order' order_dish.menu.id None order_flavor.menu.id None %}">
            {% endif %}
        {% else %}
            {% if order_size %}
                <a href="{% url 'order' order_dish.menu.id None None order_size.menu.id %}">
            {% else %}
                <a href="{% url 'order' order_dish.menu.id None None None %}">
            {% endif %}
        {% endif %}
    {% endif %}
{% else %}
{% endif %}
