<li class="list-group-item ln-container01">
    <table style="width:100%">
        <tr>
            <td>
                {{ order_dish.menu.trait.short_name.translated.words }}

                <a href="{% url 'order' order_dish.menu.id|default:None order_type.menu.id|default:None order_flavor.menu.id|default:None order_size.menu.id|default:None %}">
                    {{ order_dish.menu.trait.long_name.translated.words }}
                </a>
            </td>

            <td>
                {{ order_dish.price.value|floatformat:2 }}
                {{ order_dish.price.unit }}
            </td>

            <td>
                <div class="ln-group-divider"></div>
                <form action="{% url 'order' order_dish.id|default:None order_type.id|default:None order_flavor.id|default:None order_size.id|default:None %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="submit" value="dec-dish-count">-</button>
                    <span>{{ order_dish.count }}</span>
                    <button type="submit" name="submit" value="inc-dish-count">+</button>
                </form>
            </td>
        </tr>
    </table>
</li>