{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Flavor
{% endblock %}

{% block main %}
    <h1>Flavor</h1>
    {% if type is None %}
        <form action="{% url 'order' dish.id None flavor.id flavor_size_and_price.size.id %}" method="post">
    {% else %}
        <form action="{% url 'order' dish.id type.id flavor.id flavor_size_and_price.size.id %}" method="post">
    {% endif %}
        {% csrf_token %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container01">
            <h2>{{ dish.name }}</h2>
            <ul class="list-group pt-4">
                <li class="list-group-item ln-container02">
                    <h3>{{ type.name }}</h3>
                    {% if type is None %}
                        <figure>
                            <img src="{% static flavor.img.name %}" alt="{{ flavor.name }} Image">
                            <figcaption>{{ flavor.name }} {{ dish.name }}</figcaption>
                        </figure>
                    {% else %}
                        <figure>
                            <img src="{% static flavor.img.name %}" alt="{{ flavor.name }} Image">
                            <figcaption>{{ flavor.name }} {{ type.name }} {{ dish.name }}</figcaption>
                        </figure>
                    {% endif %}
                    <table style="width:100%">
                        <tr>
                            <th>{{ flavor_size_and_price.size.name }}</th>
                            <th>{{ flavor_size_and_price.price }}</th>
                            <th>
                                <div class="ln-group-divider"></div>
                                <button type="submit" name="send" value="dec-flavor">-</button>
                                <span>{{ qty_flavor }}</span>
                                <button type="submit" name="send" value="inc-flavor">+</button>
                            </th>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                    <div>
                        <ul class="list-group pt-4">
                            {% if flavor_addings %}
                                Addings
                                {% for adding_flavor in flavor_addings %}
                                    <ul class="list-group pt-4">
                                        <li class="list-group-item ln-container02">
                                            {{ adding_flavor.super.name }} {{ adding_flavor.name }}
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% elif flavor.code != 0%}
                                {% for adding in dish_addings %}
                                    <ul class="list-group pt-4">
                                        <li class="list-group-item ln-container02">
                                            Choose 
                                            <span>
                                                {% if flavor.code < 0 %}
                                                    up to {{ flavor.code|cut:"-" }}
                                                    {{ adding.self.name }}{{ flavor.code|cut:"-"|pluralize }}
                                                {% else %}
                                                    {{ flavor.code }}
                                                    {{ adding.self.name }}{{ flavor.code|pluralize }}
                                                {% endif %}
                                            </span>
                                            <table style="width:100%">
                                                <tr>
                                                    <th></th>
                                                    {% for size in adding.sizes %}
                                                        <th>{{ size.name }}</th>
                                                        <th></th>
                                                    {% endfor %}
                                                </tr>
                                                {% for adding_flavor in adding.flavors %}
                                                    <tr>
                                                        <td>{{ adding_flavor.self.name }}</td>
                                                        {% if adding_flavor.sizes_and_prices %}
                                                            {% for size_and_price in adding_flavor.sizes_and_prices %}
                                                                <td>{{ size_and_price.price }}</td>
                                                                <td>
                                                                    <button type="button">-</button>
                                                                    <span>0</span>
                                                                    <button type="button">+</button>
                                                                </td>
                                                            {% endfor %}
                                                        {% else %}
                                                            <td>
                                                                <button type="button">-</button>
                                                                <span>0</span>
                                                                <button type="button">+</button>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <button type="button">Add to cart</button>
                    Subtotal <span>{{ order_subtotal }}</span>
                    Total <span>20</span>
                </li>
            </ul>
        </li>
    </ul>
    </form>
{% endblock %}
