{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Flavor
{% endblock %}

{% block main %}
    <h1>Flavor</h1>

    <ul class="list-group pt-4">
        <li class="list-group-item ln-container01">
            <h2>{{ dish.name }}</h2>
            <ul class="list-group pt-4">
                <li class="list-group-item ln-container02">
                    <h3>{{ type.name }}</h3>
                    {% if type is None %}
                        <figure>
                            <img src="{% static flavor.img.name %}" alt="{{ flavor.name }} Image">
                            <figcaption>{{ flavor.name }} {{ dish.name }}</figcaption>
                        </figure>
                    {% else %}
                        <figure>
                            <img src="{% static flavor.img.name %}" alt="{{ flavor.name }} Image">
                            <figcaption>{{ flavor.name }} {{ type.name }} {{ dish.name }}</figcaption>
                        </figure>
                    {% endif %}
                    <table style="width:100%">
                        <tr>
                            {% for size in type_sizes %}
                                <th>{{ size.name }}</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for size_and_price in flavor_sizes_and_prices %}
                                <td>
                                    {{ size_and_price.price }}
                                    <div>
                                        <button type="button">-</button>
                                        <input type="number" value="0" min="0" max="99">                                                        <button type="button">+</button>
                                    </div>
                                    <div>
                                        <button type="button">Clear</button>
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <div>
                        <ul class="list-group pt-4">
                            {% if flavor_addings %}
                                Show flavor fixed addings
                            {% elif flavor.code != 0%}
                                {% for adding in dish_addings %}
                                    <ul class="list-group pt-4">
                                        <li class="list-group-item ln-container02">
                                            Choose 
                                            <span>
                                                {% if flavor.code < 0 %}
                                                    up to {{ flavor.code|cut:"-" }}
                                                    {{ adding.self.name }}{{ flavor.code|cut:"-"|pluralize }}
                                                {% else %}
                                                    {{ flavor.code }}
                                                    {{ adding.self.name }}{{ flavor.code|pluralize }}
                                                {% endif %}
                                            </span>
                                            <table style="width:100%">
                                                <tr>
                                                    <th></th>
                                                    {% for size in adding.sizes %}
                                                        <th>{{ size.name }}</th>
                                                        <th></th>
                                                    {% endfor %}
                                                </tr>
                                                {% for adding_flavor in adding.flavors %}
                                                    <tr>
                                                        {% if adding_flavor.sizes_and_prices %}
                                                            <td>{{ adding_flavor.self.name }}</td>
                                                            {% for size_and_price in adding_flavor.sizes_and_prices %}
                                                                <td>
                                                                    {{ size_and_price.price }}
                                                                    <button type="button">-</button>
                                                                    <input type="number" value="0" min="0" max="99">                                                        <button type="button">+</button>
                                                                    <button type="button">Clear</button>
                                                                </td>
                                                            {% endfor %}
                                                        {% else %}
                                                            <td>
                                                                {{ adding_flavor.self.name }}
                                                                <button type="button">-</button>
                                                                <input type="number" value="0" min="0" max="99">                                                        <button type="button">+</button>
                                                                <button type="button">Clear</button>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <button type="button">Order</button>
                </li>
            </ul>
        </li>
    </ul>
{% endblock %}
