{% extends "orders/ln/ln-layout.html" %}

{% load static %}

{% block product_head %}
    <!-- https://favicon.io/emoji-favicons/books/ -->
    <link href="{% static 'orders/images/favicon.ico' %}" rel="icon">

    <link href="{% static 'orders/styles/style.css' %}" rel="stylesheet">

    <title>
        Pizza: {% block title %}{% endblock %}
    </title>
{% endblock %}

{% block product_navbar %}
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/">Log In</a></li>
        </ul>
    </div>
{% endblock %}

{% block product_name %}
    Pizza
{% endblock %}

{% block product_main %}
    <main class="container p-4 my-4 ln-container00">
        {% block main %}
        {% endblock %}
    </main>
{% endblock %}
