{% if adding.full.flavors %}
    <ul class="list-group pt-4">
        {% for adding_flavor in adding.full.flavors %}
            <li class="list-group-item ln-container03">
                <h6>{{ adding_flavor.short_name.translated.words }}</h6>
                <h6>{{ adding_flavor.long_name.translated.words }}</h6>

                {% include "orders/menu-adding-flavor.html" %}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if addings.full.sizes %}
    <ul class="list-group pt-4">
        {% for adding_size in adding.full.sizes %}
            <li class="list-group-item ln-container03">
                <h6>{{ adding_size.short_name.translated.words }}</h6>
                <h6>{{ adding_size.long_name.translated.words }}</h6>

                {% include "orders/menu-adding-size.html" %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
