{% if adding.plain.flavors %}
    <table style="width:100%" class="ln-container03">
        {% for adding_flavor in adding.plain.flavors %}
            <tr>
                <td>{{ adding_flavor.short_name.translated.words }}</td>
                <td>{{ adding_flavor.long_name.translated.words }}</td>

                <td>{% include "orders/menu-adding-flavor-plain.html" %}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if adding.plain.sizes %}
    <table style="width:100%" class="ln-container03">
        {% for adding_size in adding.plain.sizes %}
            <tr>
                <td>{{ adding_size.short_name.translated.words }}</td>
                <td>{{ adding_size.long_name.translated.words }}</td>

                <td>{% include "orders/menu-adding-size-plain.html" %}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
