<tr>
    <td>{{ flavor.short_name.translated.words }}</td>
    <td>{{ flavor.long_name.translated.words }}</td>

    {% for size in flavor.size_columns %}
        {% if size %}
            <td>
                <form action="{% url 'put_order' %}" method="post">
                    {% csrf_token %}

                    {% include "orders/menu-form-inputs.html" %}
                    
                    <button type="submit" name="submit" value="dec-size-count">
                        {{ size.quantity.converted.value|floatformat:2 }} {{ size.quantity.converted.unit }}
                    </button>
                </form>
            </td>

            <td>{{ size.short_name.translated.words }}</td>
            <td>{{ size.long_name.translated.words }}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    {% empty %}
        <td>
            <form action="{% url 'put_order' %}" method="post">
                {% csrf_token %}

                {% include "orders/menu-form-inputs.html" %}

                <button type="submit" name="submit" value="dec-size-count">
                    {{ flavor.quantity.converted.value|floatformat:2 }} {{ flavor.quantity.converted.unit }}
                </button>
            </form>
        </td>
    {% endfor %}
</tr>
