<ul class="list-group pt-4">
    <li class="list-group-item ln-container02">
        {% if type.columns %}
            {% for column in type.columns %}
                {% include "orders/menu-column.html" %}
            {% endfor %}
        {% else %}
            {% if type.flavors or type.addings or type.sizes %}
                <h5>{{ type.short_name.translated.words }}</h5>
                <h5>{{ type.long_name.translated.words }}</h5>
                    
                {% for flavor in type.flavors %}
                    {% include "orders/menu-flavor.html" %}
                {% endfor %}
                
                {% for size in type.sizes %}
                    {% include "orders/menu-size.html" %}
                {% endfor %}
                
                {% for adding in type.addings %}
                    {% include "orders/menu-adding.html" %}
                {% endfor %}
            {% else %}
                <table style="width:100%">
                    <tr>
                        <th>
                            <h4>{{ type.short_name.translated.words }}</h4>
                        </th>
                        <th>
                            <h4>{{ type.long_name.translated.words }}</h4>
                        </th>
                        <th>
                            {% include "orders/menu-type-plain.html" %}
                        </th>
                    </tr>
                </table>
            {% endif %}
        {% endif %}
    </li>
</ul>
