{% for dish in menu.full.dishes %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container01">
            <h4>{{ dish.short_name.translated.words }}</h4>
            <h4>{{ dish.long_name.translated.words }}</h4>

            {% include "orders/menu-dish.html" %}
        </li>
    </ul>
{% endfor %}

{% for type in menu.full.types %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container02">
            <h5>{{ type.short_name.translated.words }}</h5>
            <h5>{{ type.long_name.translated.words }}</h5>

            {% include "orders/menu-type.html" %}
        </li>
    </ul>
{% endfor %}

{% for flavor in menu.full.flavors %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container02">
            <h5>{{ flavor.short_name.translated.words }}</h5>
            <h5>{{ flavor.long_name.translated.words }}</h5>

            {% include "orders/menu-flavor.html" %}
        </li>
    </ul>
{% endfor %}

{% for adding in menu.full.addings %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container02">
            <h5>{{ adding.short_name.translated.words }}</h5>
            <h5>{{ adding.long_name.translated.words }}</h5>

            {% include "orders/menu-adding.html" %}
        </li>
    </ul>
{% endfor %}

{% for size in menu.full.sizes %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container02">
            <h5>{{ size.short_name.translated.words }}</h5>
            <h5>{{ size.long_name.translated.words }}</h5>

            {% include "orders/menu-size.html" %}
        </li>
    </ul>
{% endfor %}
