{% extends "orders/base.html" %}


{% block title %}
    {% if settings.menus_label %}}
        {{ settings.menus_label.translated.words }}
    {% else %}
        Menus
    {% endif %}
{% endblock %}

{% block main %}
    {% if settings.menus_label %}}
        <h2>{{ settings.menus_label.translated.words }}</h2>
    {% else %}
        Menus
    {% endif %}

    {% if menus %}
        <ul class="list-group pt-4">
            {% for menu in menus %}
                <li class="list-group-item ln-container01">
                    {% include "orders/menu-menu.html" %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
