{% extends "orders/base.html" %}


{% block title %}
    Menu
{% endblock %}

{% block main %}
    <h1>Menu</h1>

    <ul class="list-group pt-4">
        {% for d in menu_dishes %}
        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
                <h2>{{ d.dish.name }}</h2>
                    <ul class="list-group pt-4">
                        {% for t in d.menu.types %}
                        <ul class="list-group pt-4">
                            <li class="list-group-item ln-container02">
                                <h3>{{ t.type.name }}</h3>
                                <table style="width:100%">
                                    <tr>
                                        <th></th>
                                        {% for t_size in t.sizes %}
                                            <th>{{ t_size.name }}</th>
                                        {% endfor %}
                                    </tr>
                                    {% for f in t.flavors %}
                                        <tr>
                                            <td><a href="{% url 'flavor' d.dish.id t.type.id f.flavor.id %}">{{ {{ f.flavor.name }} }}</a></td>
                                            {% for f_price in f.prices %}
                                                <td>{{ f_price.price }}</td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </li>
                        </ul>
                        {% endfor %}
                    </ul>

                    <ul class="list-group pt-4">
                        {% for t in d.menu.addings %}
                        <ul class="list-group pt-4">
                            <li class="list-group-item ln-container02">
                                <h3>{{ t.type.name }}</h3>
                                <table style="width:100%">
                                    <tr>
                                        <th></th>
                                        {% for t_size in t.sizes %}
                                        <th>{{ t_size.name }}</th>
                                    {% endfor %}
                                </tr>
                                {% for f in t.flavors %}
                                    <tr>
                                        <td>{{ f.flavor.name }}</td>
                                        {% for f_price in f.prices %}
                                            <td>{{ f_price.price }}</td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                        </li>
                    </ul>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endfor %}
    </ul>
{% endblock %}
