<li class="list-group-item ln-container01">
    <h4>{{ dish.name.translated.words }}</h4>
    <h4>{{ dish.full_name }}</h4>

    <h5>{{ dish.quantity.converted.value|floatformat:2 }} {{ dish.quantity.converted.unit }}</h5>

    {% if dish.sizes %}
        <ul class="list-group pt-4">
            {% for size in dish.sizes %}
                {% include "orders/menu-size.html" %}
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if dish.flavors %}
        <table style="width:100%">
            <tr>
                <th></th>
                <th></th>
                {% for size in dish.flavors_table.sizes %}
                    {% include "orders/menu-table-size-header.html" %}
                {% endfor %}
            </tr>

            {% for flavor in dish.flavors %}
                {% include "orders/menu-table-flavor-line.html" %}
            {% endfor %}
        </table>
    {% endif %}

    {% if dish.types %}
        <ul class="list-group pt-4">
            {% for type in dish.types %}
                {% include "orders/menu-type.html" %}
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if dish.addings %}
        <ul class="list-group pt-4">
            {% for adding in dish.addings %}
                {% include "orders/menu-adding.html" %}
            {% endfor %}
        </ul>
    {% endif %}
</li>

