<tr>
    <td>{{ flavor.name.translated.words }}</td>
    <td>{{ flavor.full_name }}</td>

    {% for size in flavor.size_columns %}
        {% if size %}
            <td>
                {% if size.quantity %}
                    <form action="{% url 'put_order' %}" method="post">
                        {% csrf_token %}
            
                        {% include "orders/menu-form-inputs.html" %}
                        
                        <button type="submit" name="submit">
                            {{ size.quantity.converted.value|floatformat:2 }}
                            {{ size.quantity.converted.unit }}
                        </button>
                    </form>
                {% endif %}
            </td>

            <td>{{ size.name.translated.words }}</td>
            <td>{{ size.full_name }}</td>
        {% else %}
            <td></td>
            <td></td>
            <td></td>
        {% endif %}
    {% empty %}
        <td>
            {% if flavor.quantity %}
                <form action="{% url 'put_order' %}" method="post">
                    {% csrf_token %}

                    {% include "orders/menu-form-inputs.html" %}

                    <button type="submit" name="submit">
                        {{ flavor.quantity.converted.value|floatformat:2 }}
                        {{ flavor.quantity.converted.unit }}
                    </button>
                </form>
            {% endif %}
        </td>
    {% endfor %}
</tr>
