<li class="list-group-item ln-container02">
    <h5>{{ adding.name.translated.words }}</h5>
    <h5>{{ adding.full_name }}</h5>

    {{ adding.quantity.converted.value|floatformat:2 }} {{ adding.quantity.converted.unit }}

    {% if adding.flavors_set %}
        {% if adding.flavors_set.flavors %}
            <table style="width:100%">
                {% for flavor in adding.flavors_set.flavors %}
                    <tr>
                        <td>
                            {% include "orders/menu-adding-flavor.html" %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}
</li>
