<tr>
    <th>{{ dish.short_name.translated.words }}</th>
    <th>{{ dish.long_name.translated.words }}</th>

    {% for type in dish.columns.types %}
        <td>
            {% include "orders/menu-type-plain.html" %}
        </td>
    {% endfor %}

    {% for flavor in dish.columns.flavors %}
        <td>
            {% include "orders/menu-flavor-plain.html" %}
        </td>
    {% endfor %}

    {% for adding in dish.columns.addings %}
        <td>
            {% include "orders/menu-adding-plain.html" %}
        </td>
    {% endfor %}

    {% for size in dish.columns.sizes %}
        <td>
            {% include "orders/menu-size-plain.html" %}
        </td>
    {% endfor %}
</tr>

