{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Ordering
{% endblock %}

{% block main %}
    <h1>Ordering</h1>
        <form action="{% url 'ordering' flavor.self.id flavor.size_and_price.size.id %}" method="post">
        {% csrf_token %}
    <ul class="list-group pt-4">
        <li class="list-group-item ln-container01">
            <h2>{{ dish.name }}</h2>
            <ul class="list-group pt-4">
                <li class="list-group-item ln-container02">
                    <h3>{{ type.name }}</h3>
                    <figure>
                        <img src="{% static flavor.self.img.name %}" alt="{{ flavor.self.name }} Image">
                        {% if type is None %}
                            <figcaption>{{ flavor.self.name }} {{ dish.name }}</figcaption>
                        {% else %}
                            <figcaption>{{ flavor.self.name }} {{ type.name }} {{ dish.name }}</figcaption>
                        {% endif %}
                    </figure>
                    <table style="width:100%">
                        <tr>
                            <th>{{ flavor.size_and_price.size.name }}</th>
                            <th>{{ flavor.size_and_price.price }}</th>
                            <th>
                                <div class="ln-group-divider"></div>
                                <button type="submit" name="submit" value="dec-flavor-qty">-</button>
                                <span>{{ flavor.qty }}</span>
                                <button type="submit" name="submit" value="inc-flavor-qty">+</button>
                            </th>
                        </tr>
                        <tr>
                        </tr>
                    </table>
                    <div>
                        <ul class="list-group pt-4">
                            {% if flavor.addings %}
                                Addings
                                {% for adding in flavor.addings %}
                                    <ul class="list-group pt-4">
                                        <li class="list-group-item ln-container02">
                                            {{ adding.super.name }} {{ adding.name }}
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% elif max_addings > 0 %}
                                {% for adding in addings %}
                                    <ul class="list-group pt-4">
                                        <li class="list-group-item ln-container02">
                                            Choose 
                                            <span>
                                                {% if min_addings == 0 %}
                                                    up to
                                                {% endif %}
                                                {{ max_addings }}
                                                {{ adding.self.name }}{{ max_addings|pluralize }}
                                        </span>
                                            <table style="width:100%">
                                                <tr>
                                                    <th></th>
                                                    {% for size in adding.sizes %}
                                                        <th>{{ size.name }}</th>
                                                        <th></th>
                                                    {% endfor %}
                                                </tr>
                                                {% for flavor in adding.flavors %}
                                                    <tr>
                                                        <td>{{ flavor.self.name }}</td>
                                                        {% if flavor.sizes_and_prices %}
                                                            {% for size_and_price in flavor.sizes_and_prices %}
                                                                <td>{{ size_and_price.price }}</td>
                                                                <td>
                                                                    <div class="ln-group-divider"></div>
                                                                    <button type="submit" name="submit" value="dec-{{ adding.self.id }}-{{ flavor.self.id }}-{{ size_and_price.id }}">-</button>
                                                                    <span>{{ size_and_price.qty }}</span>
                                                                    <button type="submit" name="submit" value="inc-{{ adding.self.id }}-{{ flavor.self.id }}-{{ size_and_price.id }}">+</button>
                                                                </td>
                                                            {% endfor %}
                                                        {% else %}
                                                            <td>
                                                                <div class="ln-group-divider"></div>
                                                                <button type="submit" name="submit" value="dec-{{ adding.self.id }}-{{ flavor.self.id }}">-</button>
                                                                <span>{{ flavor.qty }}</span>
                                                                <button type="submit" name="submit" value="inc-{{ adding.self.id }}-{{ flavor.self.id }}">+</button>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                    <button type="button">Add to cart</button>
                    Subtotal <span>{{ subtotal }}</span>
                    Total <span>{{ total }}</span>
                </li>
            </ul>
        </li>
    </ul>
    </form>
{% endblock %}
