{% load static %}

<li class="list-group-item ln-container01">
    <table style="width:100%">
        <tr>
            <td>
                <figure>
                    <img src="{% static order_elem.elem.img.path %}" alt="{{ order_elem.elem.full_name }} Image">
                    <figcaption>{{ order_elem.elem.full_name }}</figcaption>
                </figure>
            </td>

            <td>
                {{ order_elem.elem.short_name.translated.words }}
                {{ order_elem.elem.full_name }}
            </td>

            <td>
                {{ order_elem.elem.quantity.converted.value|floatformat:2 }}
                {{ order_elem.elem.quantity.converted.unit }}
            </td>

            <td>
                <div class="ln-group-divider"></div>
                <form action="{% url 'alter_order' %}" method="post">
                    {% csrf_token %}
                    <input type='text' style='display:none' name='order-item-id' value={{ order_item.id|default:None }}>
                    
                    <button type="submit" name="submit" value="dec-ordem-item-count">-</button>
                    <span>{{ order_item.count }}</span>
                    <button type="submit" name="submit" value="inc-order-item-count">+</button>
                </form>
            </td>
        </tr>
    </table>
</li>
