<li class="list-group-item ln-container01">
    <h5>{{ order_adding.menu.trait.short_name.translated.words }}</h6>
    <h5>{{ order_adding.menu.trait.long_name.translated.words }}</h6>

    <ul class="list-group pt-4">
        {% if order_adding.flavors %}
            <li class="list-group-item ln-container02">
                <table style="width:100%">
                    <tr>
                        {% for order_size in order_adding.flavors_columns.sizes %}
                            <th></th>
                            <th></th>
                            <th>{{ order_size.menu.trait.short_name.translated.words }}</th>
                        {% endfor %}
                    </tr>
        
                    {% for order_adding_flavor in order_adding.flavors %}
                        {% include "orders/order-item-adding-flavor.html" %}
                    {% endfor %}
                </table>
            </li>
        {% endif %}

        {% if order_adding.sizes %}
            <li class="list-group-item ln-container02">
                <table style="width:100%">
                    <tr>
                        {% for order_adding_size in order_adding.sizes %}
                            <th>{{ order_adding_size.menu.trait.short_name.translated.words }}</th>
                            <th></th>
                        {% endfor %}
                    </tr>
        
                    <tr>
                        {% for order_adding_size in order_adding.sizes %}
                            <td>
                                {{ order_adding_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                {{ order_adding_size.menu.trait.quantity.converted.unit }}
                            </td>

                            <td>
                                <div class="ln-group-divider"></div>
                                <button type="submit" name="submit" value="dec-adding-size-count">-</button>
                                <span>{{ order_adding_size.count }}</span>
                                <button type="submit" name="submit" value="inc-adding-size-count">+</button>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </li>
        {% endif %}
    </ul>
</li>
