{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Order
{% endblock %}

{% block main %}
    <h3>Order</h3>

    <form action="{% url 'order' order_dish.id None None None %}" method="post">
        {% csrf_token %}

        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
            <table style="width:100%">
                {% for order_type in order_dish.types %}
                <tr>
                    <table style="width:100%">
                        {% for order_flavor in order_type.flavors %}
                        <tr>
                            <table style="width:100%">
                                {% for order_size in order_flavor.sizes %}
                                <tr>
                                    <td>
                                        {{ order_size.menu.trait.short_name.translated.words }}
                                        {{ order_size.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_size.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        {{ order_flavor.menu.trait.short_name.translated.words }}
                                        {{ order_flavor.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_flavor.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_flavor.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% endfor %}

                                {% if order_flavor.menu.addings_count.max != 0 %}
                                {% for adding in order_flavor.menu.addings %}
                                <tr>
                                    <td>
                                        {{ adding.trait.short_name.translated.words }}
                                        {{ adding.trait.long_name.translated.words }}
                                    </td>
                                    <table style="width:100%">
                                        {% for flavor in adding.flavors %}
                                        <tr>
                                            <table style="width:100%">
                                                {% for size in flavor.sizes %}
                                                <tr>
                                                    <td>
                                                        {{ size.trait.short_name.translated.words }}
                                                        {{ size.trait.long_name.translated.words }}
                                                    </td>
                                                    <td>
                                                        {{ size.trait.quantity.converted.value|floatformat:2 }}
                                                        {{ size.trait.quantity.converted.unit }}
                                                    </td>
                                                </tr>
                                                {% empty %}
                                                <tr>
                                                    <td>
                                                        {{ flavor.trait.short_name.translated.words }}
                                                        {{ flavor.trait.long_name.translated.words }}
                                                    </td>
                                                    <td>
                                                        {{ flavor.trait.quantity.converted.value|floatformat:2 }}
                                                        {{ flavor.trait.quantity.converted.unit }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </table>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </table>
                        </tr>
                        {% endfor %}

                        {% for order_size in order_type.sizes %}
                        <tr>
                            <td>
                                {{ order_size.menu.trait.short_name.translated.words }}
                                {{ order_size.menu.trait.long_name.translated.words }}
                            </td>
                            <td>
                                {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                {{ order_size.menu.trait.quantity.converted.unit }}
                            </td>
                        </tr>
                        {% endfor %}

                        {% if order_type.menu.addings_count.max != 0 %}
                        {% for adding in order_type.menu.addings %}
                        <tr>
                            <td>
                                {{ adding.trait.short_name.translated.words }}
                                {{ adding.trait.long_name.translated.words }}
                            </td>
                            <table style="width:100%">
                                {% for flavor in adding.flavors %}
                                <tr>
                                    <table style="width:100%">
                                        {% for size in flavor.sizes %}
                                        <tr>
                                            <td>
                                                {{ size.trait.short_name.translated.words }}
                                                {{ size.trait.long_name.translated.words }}
                                            </td>
                                            <td>
                                                {{ size.trait.quantity.converted.value|floatformat:2 }}
                                                {{ size.trait.quantity.converted.unit }}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td>
                                                {{ flavor.trait.short_name.translated.words }}
                                                {{ flavor.trait.long_name.translated.words }}
                                            </td>
                                            <td>
                                                {{ flavor.trait.quantity.converted.value|floatformat:2 }}
                                                {{ flavor.trait.quantity.converted.unit }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% endfor %}
                        {% endif %}

                    </table>
                </tr>
                {% endfor %}

                {% for order_flavor in order_dish.flavors %}
                <tr>
                    <table style="width:100%">
                        {% for order_size in order_flavor.sizes %}
                        <tr>
                            <td>
                                {{ order_size.menu.trait.short_name.translated.words }}
                                {{ order_size.menu.trait.long_name.translated.words }}
                            </td>
                            <td>
                                {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                {{ order_size.menu.trait.quantity.converted.unit }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                {{ order_flavor.menu.trait.short_name.translated.words }}
                                {{ order_flavor.menu.trait.long_name.translated.words }}
                            </td>
                            <td>
                                {{ order_flavor.menu.trait.quantity.converted.value|floatformat:2 }}
                                {{ order_flavor.menu.trait.quantity.converted.unit }}
                            </td>
                        </tr>
                        {% endfor %}

                        {% if order_flavor.menu.addings_count.max != 0 %}
                        {% for adding in order_flavor.menu.addings %}
                        <tr>
                            <td>
                                {{ adding.trait.short_name.translated.words }}
                                {{ adding.trait.long_name.translated.words }}
                            </td>
                            <table style="width:100%">
                                {% for flavor in adding.flavors %}
                                <tr>
                                    <table style="width:100%">
                                        {% for size in flavor.sizes %}
                                        <tr>
                                            <td>
                                                {{ size.trait.short_name.translated.words }}
                                                {{ size.trait.long_name.translated.words }}
                                            </td>
                                            <td>
                                                {{ size.trait.quantity.converted.value|floatformat:2 }}
                                                {{ size.trait.quantity.converted.unit }}
                                            </td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td>
                                                {{ flavor.trait.short_name.translated.words }}
                                                {{ flavor.trait.long_name.translated.words }}
                                            </td>
                                            <td>
                                                {{ flavor.trait.quantity.converted.value|floatformat:2 }}
                                                {{ flavor.trait.quantity.converted.unit }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% endfor %}
                        {% endif %}

                    </table>
                </tr>
                {% endfor %}

                {% for order_size in order_dish.sizes %}
                <tr>
                    <td>
                        {{ order_size.menu.trait.short_name.translated.words }}
                        {{ order_size.menu.trait.long_name.translated.words }}
                    </td>
                    <td>
                        {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                        {{ order_size.menu.trait.quantity.converted.unit }}
                    </td>
                </tr>
                {% endfor %}

                {% if order_dish.menu.addings_count.max != 0 %}
                {% for adding in order_dish.menu.addings %}
                <tr>
                    <td>
                        {{ adding.trait.short_name.translated.words }}
                        {{ adding.trait.long_name.translated.words }}
                    </td>
                    <table style="width:100%">
                        {% for flavor in adding.flavors %}
                        <tr>
                            <table style="width:100%">
                                {% for size in flavor.sizes %}
                                <tr>
                                    <td>
                                        {{ size.trait.short_name.translated.words }}
                                        {{ size.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ size.trait.quantity.converted.value|floatformat:2 }}
                                        {{ size.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        {{ flavor.trait.short_name.translated.words }}
                                        {{ flavor.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ flavor.trait.quantity.converted.value|floatformat:2 }}
                                        {{ flavor.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% endfor %}
                    </table>
                </tr>
                {% endfor %}
                {% endif %}

            </table>
            </li>
        </ul>
    </form>
{% endblock %}
