<li class="list-group-item ln-container02">
    <h4>{{ order_adding.elem.short_name.translated.words }}</h4>
    <h4>{{ order_adding.elem.full_name }}</h4>

    {% if order_adding.flavors %}
        <table style="width:100%">
            {% if order_adding.elem.only_special_flavors %}
                {% for order_adding_flavor in order_adding.flavors %}
                    {% if order_adding_flavor.selected %}
                        <tr>
                            <td>
                                {{ order_adding_flavor.elem.name.translated.words }}
                                {{ order_adding_flavor.elem.full_name }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% else %}
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    {% for size in order_adding.flavors_table.sizes %}
                        {% include "orders/order-item-table-size-header.html" %}
                    {% endfor %}
                </tr>

                {% for order_adding_flavor in order_adding.flavors %}
                    {% include "orders/order-item-table-adding-flavor-line.html" %}
                {% endfor %}
            {% endif %}
        </table>
    {% endif %}
</li>
