{% load static %}

<li class="list-group-item ln-container01">
    <table style="width:100%">
        <tr>
            <td>
                <figure>
                    <img src="{% static order_size.menu.trait.img.path %}" alt="{{ order_size.menu.trait.long_name.translated.words }} Image">
                    <figcaption>{{ order_size.menu.trait.long_name.translated.words }}</figcaption>
                </figure>
            </td>

            <td>
                {{ order_size.menu.trait.short_name.translated.words }}
                {{ order_size.menu.trait.long_name.translated.words }}
            </td>

            <td>
                {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                {{ order_size.menu.trait.quantity.converted.unit }}
            </td>

            <td>
                <div class="ln-group-divider"></div>
                <form action="{% url 'order' order_dish.id|default:None order_type.id|default:None order_flavor.id|default:None order_size.id|default:None %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="submit" value="dec-size-count">-</button>
                    <span>{{ order_size.count }}</span>
                    <button type="submit" name="submit" value="inc-size-count">+</button>
                </form>
            </td>
        </tr>
    </table>
</li>
