{% load static %}

<li class="list-group-item ln-container02">
    <table style="width:100%">
        <tr>
            <td>
                <figure>
                    <img src="{% static order_adding.menu.trait.img.path %}" alt="{{ order_adding.menu.trait.long_name.translated.words }} Image">
                    <figcaption>{{ order_adding.menu.trait.long_name.translated.words }}</figcaption>
                </figure>
            </td>

            <td>
                {{ order_adding.menu.trait.short_name.translated.words }}
                {{ order_adding.menu.trait.long_name.translated.words }}
            </td>

            <td>
                {{ order_adding.menu.trait.quantity.converted.value|floatformat:2 }}
                {{ order_adding.menu.trait.quantity.converted.unit }}
            </td>

            <td>
                <div class="ln-group-divider"></div>
                <form action="{% url 'alter_order' %}" method="post">
                    {% csrf_token %}
                    <input type='text' style='display:none' name='order-dish-id' value={{ order_dish.id|default:None }}>
                    <input type='text' style='display:none' name='order-type-id' value={{ order_type.id|default:None }}>
                    <input type='text' style='display:none' name='order-flavor-id' value={{ order_adding.id|default:None }}>
                    <input type='text' style='display:none' name='order-size-id' value={{ order_size.id|default:None }}>

                    <input type='text' style='display:none' name='order-adding-id' value={{ order_adding.id|default:None }}>

                    <button type="submit" name="submit" value="dec-adding-count">-</button>
                    <span>{{ order_adding.count }}</span>
                    <button type="submit" name="submit" value="inc-adding-count">+</button>
                </form>
            </td>
        </tr>
    </table>
</li>