{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Order
{% endblock %}

{% block main %}
    <h3>Order</h3>

    <form action="{% url 'order' order_dish.id None None None %}" method="post">
        {% csrf_token %}

        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
            <table style="width:100%">
                {% for order_type in order_dish.types %}
                <tr>
                    <table style="width:100%">
                        {% for order_flavor in order_type.flavors %}
                        <tr>
                            <table style="width:100%">
                                {% for order_size in order_flavor.sizes %}
                                <tr>
                                    <td>
                                        {{ order_size.menu.trait.short_name.translated.words }}
                                        {{ order_size.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_size.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        {{ order_flavor.menu.trait.short_name.translated.words }}
                                        {{ order_flavor.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_flavor.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_flavor.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% empty %}
                        <tr>
                            <table style="width:100%">
                                {% for order_size in order_type.sizes %}
                                <tr>
                                    <td>
                                        {{ order_size.menu.trait.short_name.translated.words }}
                                        {{ order_size.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_size.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        {{ order_type.menu.trait.short_name.translated.words }}
                                        {{ order_type.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_type.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_type.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% endfor %}
                    </table>
                </tr>
                {% empty %}
                <tr>
                    <table style="width:100%">
                        {% for order_flavor in order_dish.flavors %}
                        <tr>
                            <table style="width:100%">
                                {% for order_size in order_flavor.sizes %}
                                <tr>
                                    <td>
                                        {{ order_size.menu.trait.short_name.translated.words }}
                                        {{ order_size.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_size.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        {{ order_flavor.menu.trait.short_name.translated.words }}
                                        {{ order_flavor.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_flavor.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_flavor.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% empty %}
                        <tr>
                            <table style="width:100%">
                                {% for order_size in order_flavor.sizes %}
                                <tr>
                                    <td>
                                        {{ order_size.menu.trait.short_name.translated.words }}
                                        {{ order_size.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_size.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_size.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td>
                                        {{ order_dish.menu.trait.short_name.translated.words }}
                                        {{ order_dish.menu.trait.long_name.translated.words }}
                                    </td>
                                    <td>
                                        {{ order_dish.menu.trait.quantity.converted.value|floatformat:2 }}
                                        {{ order_dish.menu.trait.quantity.converted.unit }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </tr>
                        {% endfor %}
                    </table>
                </tr>
                {% endfor %}
            </table>
            </li>
        </ul>
    </form>
{% endblock %}
