{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <ul class="list-group">
        <li class="list-group-item ln-container01">
            <form id="form" action="/register" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input required autofocus autocomplete="on" class="form-control" id= "name" name="name" placeholder="Name" type="text">
                </div>

                <button class="btn btn-dark" type="submit">Register</button>
            </form>
        </li>
    </ul>
{% endblock %}
