{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Shopping Cart
{% endblock %}

{% block main %}
    <h1>Shopping Cart</h1>

    {% if order.totals.items_qty <= 0 %}
        <h2>Empty</h2>
    {% else %}
        <table style="width:100%" class="table">
            <tr>
                <th>Total Price</th>
                <th>Items Qty</th>
                <th>Dishes Qty</th>
            <tr>
            <tr>
                <td>{{ order.totals.price}}</td>
                <td>{{ order.totals.items_qty}}</td>
                <td>{{ order.totals.products_qty}}</td>
            <tr>
        </table>

        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
                <h2>Items</h2>

                <table style="width:100%" class="table table-striped table-hover">
                    <tr>
                        <td>
                            <table style="width:100%" class="table">
                                <tr>
                                    <th>Price</th>
                                    <th>Dish</th>
                                    <th>Addings</th>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    {% for item in order.items %}
                    <tr>
                        <td>
                            <table style="width:100%" class="table">
                                <tr>
                                    <td>{{ item.subtotals.price }}</td>
                                    <td>
                                        {{ item.flavor.self.name }}
                                        {{ item.type.name }}
                                        {{ item.dish.name }}
                                        {{ item.flavor.size_and_price.size.name }}
                                        ({{ item.qty }})
                                    </td>
                                    {% if item.addings_qty <= 0 %}
                                    <td></td>
                                    {% else %}
                                    {% for adding in item.addings %}
                                    {% if adding.flavors_qty > 0 %}
                                    <th>
                                        {{ adding.self.name }}{{ adding.flavors_qty|pluralize }} ({{ adding.flavors_qty }})
                                    </th>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </tr>

                                {% if item.addings_qty > 0 %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <table style="width:100%" class="table">
                                            <tr>
                                                {% for adding in item.addings %}
                                                {% if adding.flavors_qty > 0 %}
                                                <td>
                                                    <table style="width:100%" class="table">
                                                        <tr>
                                                            {% for adding_flavor in adding.flavors %}
                                                            {% if adding_flavor.qty > 0 %}
                                                            <td>
                                                                {{ adding_flavor.self.name }} ({{ adding_flavor.qty }})
                                                            </td>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </table>
                                                </td>
                                                {% endif %}
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                {% endif %}
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </li>
        </ul>
    {% endif %}
{% endblock %}
