{% extends "orders/base.html" %}


{% load static %}


{% block title %}
    Shopping Cart
{% endblock %}

{% block main %}
    <h1>Shopping Cart</h1>
    {% if order.totals.items_qty <= 0 %}
        <h2>Empty</h2>
    {% else %}
        <ul class="list-group pt-4">
            <li class="list-group-item ln-container01">
                <h2>Totals</h2>
                <table style="width:100%">
                    <tr>
                        <th>Price</th>
                        <th>Items Qty</th>
                        <th>Dishes Qty</th>
                    <tr>
                    <tr>
                        <td>{{ order.totals.price}}</td>
                        <td>{{ order.totals.items_qty}}</td>
                        <td>{{ order.totals.products_qty}}</td>
                    <tr>
                </table>
            </li>
            <li class="list-group-item ln-container01">
                <h2>Items</h2>
                <table style="width:100%">
                    <tr>
                        <th>Price</th>
                        <th>Dishes Qty</th>
                        <th>Dish</th>
                        <th> Addings</th>
                    </tr>
                    {% for item in order.items %}
                        {% if item.addings %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                {% for adding in item.addings %}
                                    {% if adding.qty > 0 %}
                                        <table style="width:100%">
                                            <tr>
                                                <th>{{ adding.self.name }} ({{ adding.qty }})</th>
                                            </tr>
                                        </table>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>{{ item.subtotals.price }}</td>
                            <td>{{ item.qty }}</td>
                            <td>
                                {{ item.flavor.self.name }}
                                {{ item.type.name }}
                                {{ item.dish.name }}
                                {{ item.flavor.size_and_price.size.name }}
                            </td>
                            <td>
                                {% for adding in item.addings %}
                                    {% if adding.qty > 0 %}
                                        <table style="width:100%">
                                            <tr>
                                                <td>
                                                    <table style="width:100%">
                                                        <tr>
                                                            {% for adding_flavor in adding.flavors %}
                                                                {% if adding_flavor.qty > 0 %}
                                                                    <td>{{ adding_flavor.self.name }} ({{ adding_flavor.qty }})</td>
                                                                {% endif %}
                                                                {% if adding_flavor.sizes_and_prices %}
                                                                {% else %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tr>
                                                    </table>
                                                </td>                                        </tr>
                                            </tr>
                                        </table>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </li>
        </ul>
    {% endif %}
{% endblock %}
