<li class="list-group-item ln-container03">
    <h6>{{ size.name.translated.words }}</h6>
    <h6>{{ size.full_name }}</h6>

    {% if size.quantity %}
        <form action="{% url 'put_order' %}" method="post">
            {% csrf_token %}

            {% include "orders/menu-form-inputs.html" %}
            
            <button type="submit" name="submit">
                {{ size.quantity.converted.value|floatformat:2 }} {{ size.quantity.converted.unit }}
            </button>
        </form>
    {% endif %}
</li>
