{% extends "orders/base.html" %}


{% block title %}
    {{ settings.menu_page_title.translated.words }}
{% endblock %}

{% block main %}
    <h3>{{ settings.menu_page_header.translated.words }}</h3>

    {% if menu.dishes %}
        <ul class="list-group pt-4">
            {% for dish in menu.dishes %}
                {% include "orders/menu-dish.html" %}
            {% endfor %}
        </ul>
    {% else %}
        <h4>{{ settings.pages_no_items_header.translated.words }}</h4>
    {% endif %}
{% endblock %}
